.tc-DrawArea-Cone {
    position: absolute;

    .tc-DrawArea-Cone-circle {
        margin: 1px;
        width: 26px;
        height: 26px;
        border-radius: 13px;
    }

    .tc-DrawArea-Cone-circle-selection {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 14px;
    }
}