.tc-DrawArea {
    background-color: #eee;
    position: relative;
    overflow: hidden;

    .tc-DrawArea-gridVerticalLine {
        position: absolute;
        top: 0;
        bottom: 0;
        border-right: 1px dashed #2cc92c88;
    }

    .tc-DrawArea-gridVerticalLine_major {
        border-right: 2px dotted #44aa44dd;
    }

    .tc-DrawArea-gridHorizontalLine {
        position: absolute;
        left: 0;
        right: 0;
        border-bottom: 1px dashed #2cc92c88;
    }

    .tc-DrawArea-gridHorizontalLine_major {
        border-bottom: 2px dotted #44aa44dd;
    }

    .tc-DrawArea-debugInfo {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}