.tc-DrawArea {
    background-color: #eee;
    position: relative;
    overflow: hidden;

    .tc-DrawArea-grid {
        pointer-events: none;
        user-select: none;

        .tc-DrawArea-gridVerticalLine {
            position: absolute;
            top: 0;
            bottom: 0;
            border-right: 1px dashed #2cc92c88;
        }

        .tc-DrawArea-gridVerticalLine_major {
            border-right: 2px dotted #44aa44dd;
        }

        .tc-DrawArea-gridHorizontalLine {
            position: absolute;
            left: 0;
            right: 0;
            border-bottom: 1px dashed #2cc92c88;
            pointer-events: none;
        }

        .tc-DrawArea-gridHorizontalLine_major {
            border-bottom: 2px dotted #44aa44dd;
        }

        .tc-DrawArea-debugInfo {
            position: absolute;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
    }

    .tc-DrawArea-circle-selection {
        animation: circle_rotate 5s infinite linear, circle_color_change 1s infinite linear;
        border-width: 3px;
        border-style: dashed;

        @keyframes circle_rotate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes circle_color_change {
            0% {
                border-color: red;
            }

            49% {
                border-color: red;
            }

            50% {
                border-color: purple;
            }

            100% {
                stroke: purple;
            }
        }
    }

    .tc-DrawArea-line-selection {
        animation: stroke_move_change 0.4s infinite linear, line_color_change 1s infinite linear;
        border-width: 5px;
        border-style: dashed;
        stroke-dasharray: 10;

        @keyframes stroke_move_change {
            0% {
                stroke-dashoffset: 0;
            }

            100% {
                stroke-dashoffset: 10;
            }
        }

        @keyframes line_color_change {
            0% {
                stroke: red;
            }

            49% {
                stroke: red;
            }

            50% {
                stroke: purple;
            }

            100% {
                stroke: purple;
            }
        }
    }


}