.tc-App {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tc-App-editArea {
    flex: auto 1 1;
    display: flex;
    flex-direction: row;

    .tc-DrawArea {
      flex: auto 1 1;
    }
  }

  .tc-App-addingItemContainer {
    position: absolute;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.no-pointer-events {
  pointer-events: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}